table {
    width: 75%;
    border-collapse: collapse;
}
td {
    width:50px;
    padding-bottom:100px;
    /*width: 14.29%;
    padding-bottom: 14.29%;*/
    box-shadow: inset 0 0 2px 2px #fff;
    background-color: blue;
}

td:hover {
  background-color:#bada55;
}

.ship {
  background-color:black;
}

.spaceWasHit {
  background-color:red;
}
