
body {
  text-align:center;
  color: #051923;
  background-color: #F4F7BE;
}

h1 {
  text-align:center;
  font-family:"Anton", serif;
  text-transform:uppercase;
  font-size:3em;
  margin: 1em 0;
}

h2 {
  text-align:center;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.75em;
  margin: 1.5em 0;
}

h3 {
  font-family:"Anton", serif;
  text-transform:uppercase;
  font-size:2em;
  border-top: 3px solid;
  border-bottom: 3px solid;
  padding:.25em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin:0 auto;
    position:relative;
}
td {
    width: 14.29%;
    padding-bottom: 14.29%;
    box-shadow: inset 0 0 1px 1px #fff;
    background-color: #00A6FB;
    transition:.5s all;
}

td.hoverclass{
  background-position: 50% 50%;
  background-image: url('../images/crosshair.png');
  background-size: cover;
  background-repeat:no-repeat;
  animation: pulse .5s linear infinite;
  cursor:pointer;
}

@keyframes pulse {
  0% {background-size: 100% 100%; background-position: 0 0 0 0;}
  50% {background-size: 110% 110%;background-position: 0 -4px -4px 0;}
  100% {background-size: 100% 100%;background-position: 0 0 0 0;}
}

/*td:hover {
  background-color:#264027;
  background-color: white;
  cursor:pointer;
}*/

.ship {
  /*background-color:black;*/
}

.spaceWasHit {
  background-color:#8C271E;
}

.spaceWasMiss {
  background-color:darkblue;
}

@media screen and (max-width:481px) {
  table{
    width:90%;
  }
}

footer {
  margin:1em 0;
}

footer p {
  color:grey;
  font-size:.5em;
}

.row {
  display:flex;
  justify-content: center;
  align-items: center;
}

/*.container {
  width:30%;
  text-align:center;
  margin:0 auto;
}*/

.ship-wrapper {
  position:relative;
}

.ship-icons {
  width:75%;
  display:block;
  margin:2em auto;
  float:left;
  /*position:relative;*/
  z-index:1;
}

.explosion {
  display:none;
  position:absolute;
  top:25%;
  z-index:2;
  left:60%;
  width:60%;
  margin-left:-120px;
}

.ship-names {
  font-family:"Open Sans Condensed", sans-serif;
  font-size:1.5em;
  text-align:left;
  width:6.5em;
}
