h1 {
  text-align:center;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin:0 auto;
}
td {
    width: 14.29%;
    padding-bottom: 14.29%;
    box-shadow: inset 0 0 2px 2px #fff;
    background-color: blue;
}

td:hover {
  background-color:#bada55;
}

.ship {
  /*background-color:black;*/
}

.spaceWasHit {
  background-color:red;
}

.spaceWasMiss {
  background-color:darkblue;
}
